* {
  font-family: Helvetica, Sans-Serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  height: 100vh;
  width: 100vw;
  background: url('../img/bgH.jpg') center 100%;
  color: white;
}

#cont {
z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.logo {
  margin-bottom: 100px;
}

.nav {
  text-align: left;
}

.nav a {
color: white;
  text-decoration: none;
}

a:hover {
  color: #fd8efb;
}

.pea a {
  color: #fd8efb;
}

.Marquee {
  font-size: 1em;
  line-height: 1.3em;
  padding: 0.5em;
}

.pea {
  position: absolute;
  bottom: 3vh;
}


/* @media (prefers-color-scheme: dark) {
  body {
    color: #ffffff;
    background: #0d0d0d;
  }

  .nav a {
    color: #ffffff;
  }
} */
