* {
  font-family: Helvetica, Sans-Serif;
  margin: 0;
  padding: 0;
}

body {

  height: 100vh;
  width: 100vw;
}

body {
  background-image: url('../bgH.jpg');
  background-attachment: fixed;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100%;
}


#cont {
z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  width:"600px";
  
}

#cont > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;

}
br {
  margin: 20px;
}

.logo {
  margin-bottom: 100px;
}

.nav {
  text-align: left;
}

.Marquee {
  font-size: 1em;
  line-height: 1.3em;
  padding: 0.3em;
  color: #ff39d7;
  border-bottom: 3px #ff39d7 solid;
}

#baby {
  display: none;
}

@media only screen and (max-width: 600px) {
  iframe {
    display: none;
  }

  #baby {
    display: block;
  }
}


