* {
  font-family: Helvetica, Sans-Serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  height: 100vh;
  width: 100vw;
}

#cont {
  /* display: grid;
  place-items: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.logo {
  margin-bottom: 100px;
}

.nav {
  text-align: left;
}

.nav a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #fd8efb;
}

.pea a {
  color: #fd8efb;
}

.Marquee {
  font-size: 1em;
  line-height: 1.3em;
  color: #a47a5a;
  padding: 0.5em;
  border-bottom: 5px groove #ffdc00;
  border-top: 5px groove #ffdc00;
}

.pea {
  position: absolute;
  bottom: 3vh;
}

/* @media (prefers-color-scheme: dark) {
  body {
    color: #ffffff;
    background: #0d0d0d;
  }

  .nav a {
    color: #ffffff;
  }
} */
