* {
  font-family: "Source Code Pro", monospace;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  height: 100vh;
  width: 100vw;
}

#cont {
  /* display: grid;
		place-items: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

p {
  margin-inline: 20vw;
}

/* @media (prefers-color-scheme: dark) {
  body {
    color: #ffffff;
    background: #0d0d0d;
  }
} */
